:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --font-size-large: 30px;
}

body {
    background-color: #ecf0f1;
    text-align: center;
    font-family: Arial, sans-serif;
}

.Input, .Matching-Inhalt {

    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 30px;
    margin: 5rem 10px;
    color: white;
}

h1 {
    color: black;
    font-size: 60px;
}


#A {
    font-size: var(--font-size-large);
    text-align: center;
}

#Anmelden {
    text-align: center;
    font-size: large;
}

#restaurantdrop, #idinput, #idinputmatch, #timeinput, #selectmatcheduser {
    width: 315px;
    height: 50px;
    font-size: large;
    margin-bottom: 10px;
}

#selectmatcheduser {
    margin-top: 30px;

}

button {
    width: 200px;
    height: 40px;
    font-size: large;
    background-color: #34495e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#dropdownMenufortimeMatchedUsers {
    width: 230px;
    height: 40px;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}


#randomMatchedUserInput {
    width: 230px;
    height: 40px;
    font-size: large;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

h2 {
    font-size: 40px;
}

@media screen and (max-width: 600px) {
    .Titel, .Matching-Inhalt {
        padding: 20px;
        margin: 2rem 5px;
    }

    #restaurantdrop, #idinput, #idinputmatch, #timeinput {
        width: 100%;
    }

    #randomResultContainer {
        padding-bottom: 100px;
    }

    #Video {
        padding-top: 5000px;

    }
}

#matchUsers