:root {
  --background-color: #f0f0f0;
  --content-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

body {
  background-color: var(--background-color);
  text-align: center;
  font-family: Arial, sans-serif;
}

.header {
  height: 20rem;
  margin: 0 10px 5rem;
  border-radius: 10px;
  padding: 10px 100px;
  background-color: var(--content-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  border-radius: 10px;
  background-color: var(--content-color);
  padding: 0 50px 30px;
  text-align: center;
  margin-bottom: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: var(--primary-color);
  font-size: 60px;
  height: 50px;
  margin: 0 130px;
  text-align: center;
  padding-top: 30px;
}

#A {
  font-style: normal;
  font-size: 40px;
  text-align: center;
}

#sign-in {
  text-align: center;
  font-size: large;
  color: var(--secondary-color);
}