body {
  background-color: beige;
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  font-style: bold;
  font-size: 60px;
}
h2 {
  color: blue;
  text-align: center;
}
p{
text-align: center;
}
pre {
background-color: cadetblue;
  color: black;
  font-style: oblique;
  font-size: 20px;
}
#A {
  font-style: normal;
  font-size: 40px;
  text-align: center;
}
#B {
  font-style: normal;
  font-size: 30px;
  text-align: center;
}
#C,D,E,F {
  font-style: normal;
  font-size: 30px;
  text-align: center;
}

