*			{
  margin: 								0;
  padding:								0;
  background-color:						#DC143C;
}

body		{
  font-family:							italic, Tahoma, sans-serif; /*fallback*/
  border-radius:							0.3rem;
}

header		{
  width:									60%;
  height:									2rem;
  margin: 								1rem 1rem 1rem 1rem;
  border-radius:							0.3rem;
  padding-left:							1rem;
  text-align:								center;
}

h1			{
  margin:									1rem;
}

main		{
  width: 									60%;
  display: 								block;
  margin:									0 auto;
  /* float:								right;  */
  /* margin: 								3rem 2rem 3rem 2rem ; /* oben angefangen im Uhrzeigersinn */
}

.Eingabe, .Ausgabe output 	{
  border:									5px solid black;
  border-radius:							0.3rem;
  height:									40rem;
  width:									30rem;
  display:      						   	grid;

  width:            						70%;
  margin:           						0 auto;
  border:           						3px solid Orange;
  padding:          						0.5rem;
  border-radius:    					    0.5rem;
}



.Eingabe input  {
  border:									2px groove gray;
  height:									2rem;
  margin-bottom:							1rem;
}

.Ausgabe output {

  border:                                    2px groove gray;
  height:                                    2rem;
  margin-bottom:                            1rem;

}

.Eingabe div keys{
  display:								grid;
  padding:								0.5rem;
  grid-template-columns:     				repeat(4, 1lfr);
  grid-gap:								0.75rem;
  border:									2px groove grey;
}

.Eingabe div button {
  border:									1px groove black;
  padding:								0.5rem;
  font-weight:							bold;
}

button {
  padding:								10px;
  width:									99px;
  height:									45px;
  margin-top:								10px;
  background-color:						rgb(194, 194, 194);
  color:									black;
  font-size:								20px;
}

button:hover {
  cursor:									pointer;
  background-color:						rgb(182, 178, 178);
}

button:active {
  background-color:						rgb(136, 136, 136);
}
